<!-- this is a nested template. See "event/show.html.twig" for context -->

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="accordion-toggle-link">
            <a role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne">
                Statistik
            </a>
        </span>
    </div>
    <div id="collapseOne"
        class="panel-collapse collapse"
        role="tabpanel"
        aria-labelledby="headingOne">
        <div class="panel-body">
            {% for viewModel in viewModels %}
                <p>{{viewModel.text}}</p>
                <ul>
                    {% for key,count in viewModel.values %}
                        <li>{{key}}: <b>{{count}}</b></li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>
</div> <!--panel-->
