{% extends 'base_nav.html.twig' %}

{% block title %}
Profil bearbeiten
{% endblock title %}

{% block workspace %}

<div class="row">
<div class="col-md-4 col-md-offset-4">
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
</div>
</div>

{% endblock workspace %}
