/app/config/parameters.yml
/build/
/phpunit.xml
!/var/
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/log
/var/log/*
!var/log/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!/var/SymfonyRequirements.php
/vendor/
/web/bundles/
/sql/out.tab
/sql/run.bat
/sql/sandbox.sql

#yarn
/node_modules/

#webpack
/public/build/

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/framework-bundle ###
.env
/public/bundles/
/vendor/
###< symfony/framework-bundle ###
