/build/
/sql/out.tab
/sql/run.bat
/sql/sandbox.sql

#yarn
/node_modules/

#webpack
/public/build/

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
