{% extends 'base.html.twig' %}

{% block title %}
    Datenschutzerklärung
{% endblock %}

{% block body %}
<div class="container">
<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <div class="panel panel-default">
            <div class="panel-heading large"><h2>Datenschutzerklärung</h2></div>
            <div class="panel-body">
                <p>
                    Gestützt auf Artikel 13 der schweizerischen Bundesverfassung
                    und die datenschutzrechtlichen Bestimmungen des Bundes
                    (Datenschutzgesetz, DSG) hat jede Person Anspruch auf Schutz
                    ihrer Privatsphäre sowie auf Schutz vor Missbrauch ihrer
                    persönlichen Daten. Wir halten diese Bestimmungen ein.
                    Persönliche Daten werden streng vertraulich behandelt und
                    weder an Dritte verkauft noch weiter gegeben.
                </p>
                <p>
                    In enger Zusammenarbeit mit unseren Hosting-Providern bemühen
                    wir uns, die Datenbanken so gut wie möglich vor fremden
                    Zugriffen, Verlusten, Missbrauch oder vor Fälschung zu schützen.
                </p>
                <p>
                    Beim Zugriff auf unsere Webseiten werden folgende Daten in
                    Logfiles gespeichert: IP-Adresse, Datum, Uhrzeit, Browser-Anfrage
                    und allg. übertragene Informationen zum Betriebssystem resp.
                    Browser. Diese Nutzungsdaten bilden die Basis für statistische,
                    anonyme Auswertungen, so dass Trends erkennbar sind, anhand
                    derer wir unsere Angebote entsprechend verbessern können.
                </p>
                <p>
                    <strong>Quelle</strong>
                </p>
                <p>
                    Diese Datenschutzerklärung wurde am 19.05.2016 mit dem Impressum-Generator
                    <a href="http://www.bag.ch/impressum-generator" target="_blank">
                        http://www.bag.ch/impressum-generator</a> der Firma
                    Brunner AG, Druck und Medien, in Kriens erstellt.
                    Die Brunner AG, Druck und Medien, in Kriens übernimmt keine
                    Haftung.
                </p>
            </div>

            <div class="panel-footer">
                <strong>
                    Schliesse diesen Tab um zur Webseite zurückzukehren
                </strong>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
