{% extends 'base_nav.html.twig' %}

{% block title %} Hölfer Mail {% endblock %}

{% block workspace %}
<div class="row">
    <div class="col-md-4">
        {{ form_start(mail_form, {'name': 'form_department_mail'}) }}
            {{form_widget(mail_form) }}
            <div class="form-group">
                <a class="btn btn-primary" onclick="form_department_mail.submit();">
                    <span class="glyphicon glyphicon-envelope" ></span>
                    Email jetzt senden
                </a>
                <a class="btn btn-default" href="{{ path('department_show',{
                    'id':department.id, 'event_id':department.event.id
                }) }}">Abbrechen</a>
            </div>
            {{ form_end(mail_form) }}
    </div>
</div>
{% endblock %}
