<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- use bootstrap on each page -->
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/united/bootstrap.min.css"
              integrity="sha384-0UBL8wxZ28kqJ8w8N8RUV0odBG5w8D/Y+rb+o7hr2F3dS9twlAE8S7VUtVSRe5cc"
              crossorigin="anonymous" />

        <!-- use "global.css" on each page -->
        <link rel="stylesheet"
              href="{{ asset('css/global.css') }}" />

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
