{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            {{ include('snippets/menu_toggle.html.twig') }}
            {{ include('snippets/menu_dashboard.html.twig') }}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- left part -->
          <ul class="nav navbar-nav">
              {% block nav_links %}{% endblock %}
          </ul>
          <!-- right part -->
          <ul class="nav navbar-nav navbar-right">
            {{ include('security/profile_dropdown.html.twig') }}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    {% block workspace %}{% endblock %}
</div>
{% endblock %}
