{% extends 'base_nav.html.twig' %}

{% block title %}
View für Sevi
{% endblock %}


{% block workspace %}
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">

      <h2>
        Das ist die View für Sevi.
      </h2>
      <p>
        Lorem ipsum.
      </p>

      <div class="container">
        <div class="row ">
          <div class="col-lg-6">

            <div class="panel panel-primary">
              <div class="panel-heading">Verfügbare Hölfer</div>
              <div class="panel-body">
                <ul class="list-group source connected">
                  <li class="list-group-item">Sepp</li>
                  <li class="list-group-item">Toni</li>
                  <li class="list-group-item">Qrigl</li>
                  <li class="list-group-item">Sevi</li>
                </ul>
              </div>
            </div>

          </div>
        </div>
        <div class="row ">
          <div class="content col-lg-5"></div>
        </div>

      </div>


      {% if is_granted('ROLE_SUPER_ADMIN') %}
      <p> ich bin ein Super Admin {{theSuperDuperVariableName}}</p>
      {% endif %}

    </div>
  </div>
</div>
<script src="{{ asset('views/views.js') }}" type="text/javascript"></script>
<script src="{{ asset('views/sortable.js') }}" type="text/javascript"></script>
{% endblock %}
