{% extends 'base.html.twig' %}

{% block title %}
    Hilfe Registrieren
{% endblock %}

{% block body %}

<div class="container">
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
        <div class="panel-heading">
            FAQ (Frequently Asked Questions - Häufig gestellte Fragen)
        </div>
        <div class="panel-body">
            <h3>
                Warum muss ich mich registrieren? Ich will doch nur helfen!
            </h3>

            <p>
                Wir, die Organisatoren des Clanx Festival verwenden diese Datenbank
                um den Überblick über die unzählengen Hölfer zu behalten und
                mit ihnen zu kommunizieren.
            </p>
            <h3>
                Ok. Was muss ich also machen um mich zu registrieren?
            </h3>
            <p>
                <ul>
                    <li>
                        Klicke auf den Knopf mit der Aufschrift "Registrieren".
                    </li>
                    <li>
                        Gib deine Emailadresse ein.
                    </li>
                    <li>
                        Wähle einen Benutzernamen. Dieser muss eindeutig sein.
                        Du kannst den Benutzernamen später für das Login verwenden.
                    </li>
                    <li>
                        Wähle ein Passwort. Wähle ein gutes Passwort. *
                    </li>
                    <li>
                        Gib dein Passwort nochmal ein, um sicherzustellen, dass
                        du dich nicht vertippt hast.
                    </li>
                    <li>
                        Klicke auf "Registrieren". Nun wird dein Profil erstellt, es ist
                        aber noch nicht aktiv.
                    </li>
                    <li>
                        Du erhälst ein Email an die Adresse, die du angegeben hast.
                        In diesem Email ist ein Link auf den du klicken musst.
                        Wenn das nicht geht, musst du den Link kopieren und in die
                        Adresszeile deines Browsers einfügen. **
                    </li>
                    <li>
                        Du bist nun registriert und angemeldet.
                    </li>
                </ul>
            </p>

            <h3>* Was ist ein gutes Passwort?</h3>
            <p>
                Um zu sehen wie gut dein Passwort ist, kannst du einen
                <a href="https://www.passwortcheck.ch/passwortcheck/check.php?lang=de">Passwortchecker</a>
                benutzen. <strong>Achtung: sende nie ein Passwort das du
                verwendest oder verwenden möchtest irgendwohin!</strong>
                Verwende beim Passwortcheck nicht dein wirkliches Passwort, sondern
                eines, dass gleich aufgebaut ist wie dein gewähltes Passwort.
                Denke immer daran: du weisst nie, wer am anderen Ende der Leitung sitzt.
            </p>

            <h3>* Ist mein Passwort bei euch denn sicher?</h3>
            <p>
                Wir speichern dein Passwort bei uns nicht im Klartext ab.
                Falls wir gehackt werden, und unsere Datenbank geklaut wird,
                kann niemand herausfinden, wie dein Passwort lautet. Du solltest
                aber trotzdem niemals dasselbe Passwort mehrmals verwenden.
            </p>

            <h3>** Warum muss ich zuerst auf einen Link im Mail klicken bevor
                ich die Webseite benutzen kann?</h3>
            <p>
                Mit dieser Methode versuchen wir Spamer und anderes Ungeziefer von unserer
                Datenbank fernzuhalten.
            </p>

            <h3>Was macht ihr dann mit meinen persönlichen Daten?</h3>
            <p>
                Deine Daten werden nur im Zusammenhang mit Veranstaltungen verwendet,
                die vom Verein Burg Clanx Festival organisiert werden.
                Du wirst keine Werbung von uns erhalten, und wir werden deine
                Daten nicht an andere Organisationen oder Personen weitergeben.
                Sollte sich dieser Grundsatz irgendwann ändern, wirst du von uns
                darüber informiert, und du hast dann das Recht deine Daten zu löschen.
            </p>

            <h3>Bin ich dann automatisch ein Hölfer, wenn ich mich registriere?</h3>
            <p>
                Nein. Wenn du dich registriert, hast du Zugang zur Webseite.
                Dort kannst du dann eine Veranstaltung auswählen und dich bei
                dieser als Hölfer einschreiben.
            </p>
            <p>
                Wenn du dann im nächsten Jahr wieder Hölfer sein willst, fällt
                der Schritt mit der Registrierung weg. Du kannst dich dann direkt
                anmelden und wieder als Hölfer einschreiben.
            </p>

            <h3>Muss ich mein Passwort aufschreiben, damit ich es nicht vergesse?</h3>
            <p>
                Nein. Wir vergessen alle irgendwann mal irgendetwas, das ist nicht
                so schlimm. <br />
                Wenn du nächstes Jahr dein Passwort nicht mehr weisst,
                kannst du dir beim Anmelden ein Email zusenden lassen. Dort
                drinn findest du dann einen Link, mit dem du dein Passwort zurücksetzen
                kannst.
            </p>

            <h3>Ich möchte mich und einen Bekannten von mir als Hölfer anmelden. Geht das?</h3>
            <p>
                Nein. Jeder der sich als Hölfer anmelden möchte, muss das selbst mit
                der eigenen Emailadresse machen. Das ist nötig für eine lückenlose
                Kommunikation.
            </p>

            <h3>Dann lege ich halt einen neuen Account an für meinen Bekannten
            und verwende dazu meine eigene Mailadresse nochmal.</h3>
            <p>
                Auch das geht nicht. Eine Mailadresse kann nur einmal verwendet werden.
                Wir sind diesbezüglich wirklich sehr strikt.
            </p>

            <h3>Das klingt ein bisschen kompliziert, nicht?</h3>
            <p>
                Ja, schon. Aber das ist die Art und Weise, wie heutzutage
                Registrierungen gemacht werden. Wenn wir dir einen gewissen
                Grad an Datensicherheit bieten möchten, dann müssen wir dafür
                leider solche Prozesse in Kauf nehmen.
            </p>
            <p>
                Wir würden natürlich auch gerne darauf verzichten. Aber dann
                kommen immer die bösen Jungs und machen uns alles kaputt.
                <img src="{{asset('img/disapointed.png')}}" alt=":(" />
            </p>

            <h3> Ihr habt mich überzeugt, ich registriere mich. Wo gehts lang?</h3>
            <p>
                Hier:
                <a class="btn btn-primary btn-large"
                    href="{{ path('fos_user_registration_register')}} ">
                    Registrieren
                </a>
            </p>

        </div>
        <div class="panel-footer">
            <small>
                Diese Seite heisst "Häufig gestellte Fragen."
                Natürlich wurden uns diese Fragen noch nie gestellt.
                Wir haben nur mal irgendwo gesehen, dass die coolen Webseiten alle
                so etwas haben, da haben wir gedacht: "So was wollen wir auch!"
            </small>
        </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
