{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h2>
                        Registrierung in Bearbeitung...
                        <span class="fa fa-envelope-o"></span>
                    </h2>
                    <p>
                        Ein Email mit dem Aktivierungslink wurde an die Adresse
                        <br />
                        <mark>{{ user.email }}</mark>
                        <br/>
                        geschickt.
                    </p>
                    <p>
                        <span class="text-danger">Clicke auf den Link im Email
                        um deine Registrierung abzuschliessen.</span>
                        Der Link ist nur einmal g端ltig. Wenn du ein zweites mal
                        auf den Link klickst, erscheint eine Fehlermeldung, und
                        das ist ganz normal.
                    </p>
                    <p>
                        Wenn beim ersten Mal klicken schon eine Fehlermeldung erscheint,
                        oder wenn du gar kein Email erhalten hast,
                        <a href="mailto:helferdb@clanx.ch?Subject=Hilfe%20beim%20registrieren"
                            class="btn btn-default"
                            data-toggle="tooltip"
                            title="Email an die Entwickler senden.">
                            <span class="fa fa-envelope-o"></span>
                            maile das bitte direkt an die Entwickler,
                        </a>
                        am besten mit einer Kopie des Mails, das du erhalten hast.
                    </p>
					<p>
						<span class="fa fa-exclamation-triangle"> </span>
						Bei <strong>hotmail.com</strong> und <strong>outlook.com</strong>
                        Kontos kann es sein, dass das Mail im <strong>Junk-E-Mail</strong>
                        Ordner gelandet ist. Bitte auch dort 端berpr端fen und dann mit dem
                        Link "Als sicher markieren" in den Posteingang verschieben.
                        Anschliessend den Absender zu den Kontakten hinzuf端gen, um auch in
                        Zukunft Emails vom Clanx zu erhalten.
					</p>
                    <p>
                        Du kannst diese Seite jetzt schliessen.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
