{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h2>
                        Registrierung in Bearbeitung...

                    </h2>
                    <p>
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        Ein EMail mit dem Aktivierungslink wurde an die Adresse
                        {{ user.email }} geschickt.
                    </p>
                    <p>
                        Clicke auf den Link im Mail um deine Registrierung abzuschliessen.
                    </p>
                    <p>
                        Du kannst diese Seite jetzt schliessen.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
