{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h2>
                        Registrierung in Bearbeitung...
                        <span class="fa fa-envelope-o"></span>
                    </h2>
                    <p>
                        Ein EMail mit dem Aktivierungslink wurde an die Adresse
                        <br />
                        <mark>{{ user.email }}</mark>
                        <br/>
                        geschickt.
                    </p>
                    <p>
                        Clicke auf den Link im Mail um deine Registrierung abzuschliessen.
                    </p>
					<p>
						<span class="fa fa-exclamation-triangle"> </span>
						Bei <strong>hotmail.com</strong> und <strong>outlook.com</strong> Kontos kann es sein, dass das Mail im <strong>Junk-E-Mail</strong> Ordner gelandet
						ist. Bitte auch dort überprüfen und dann mit dem Link "Als sicher markieren" in den Posteingang verschieben. Anschliessend den Absender zu den Kontakten hinzufügen, um auch in Zukunft Emails vom
						Clanx zu erhalten.
					</p>
                    <p>
                        Du kannst diese Seite jetzt schliessen.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
