{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2> Super! Du bist jetzt ein registrierter Benutzer!
                </h2>
                <p>
                    Dein Benutzername ist <mark>{{ user.username }}</mark> und
                    deine Emailadresse ist <mark>{{ user.email }}</mark>.
                </p>
                <p> (Du kannst beides verwenden um dich nächstes mal anzumelden.)
                </p>
                <hr />
                <p> Besuche als erstes dein
                    <a class="btn btn-default"
                        href="{{ path('fos_user_profile_edit')}}">
                        <span class="fa fa-user"></span>
                        <span class="fa fa-pencil"></span>
                            Profil
                    </a>, um deine Kontaktdaten zu hinterlegen.
                </p>
                <p> Vielleicht kennen wir dich vom letzten Clanx, dann wissen wir
                    dein Daten schon.
                </p>
                <hr />
                <p>
                    <strong>Du bist jetzt noch kein Hölfer!</strong>
                    Öffne einen
                    <a class="btn btn-default"
                        href="{{path('event_index')}}">
                        <span class="fa fa-calendar"></span>
                            Event
                    </a>
                    , um dich dort als Hölfer einzuschreiben.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock fos_user_content %}
