{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2> Super! Du bist jetzt ein registrierter Benutzer!
                </h2>
                <p>
                    Dein Benutzername ist <mark>{{ user.username }}</mark> und
                    deine Emailadresse ist <mark>{{ user.email }}</mark>.
                </p>
                <p> (Du kannst beides verwenden um dich nächstes mal anzumelden.)
                </p>
                <p> Besuche doch als erstes dein
                    <a class="btn btn-default"
                        href="{{ path('fos_user_profile_edit')}}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            Profil
                    </a>, um deine Kontaktdaten wie Adresse und
                    Telefonnummer zu hinterlegen.
                </p>
                <p> <small>Falls du letztes Jahr schon als Hölfer eingetragen warst, konnten wir
                    vielleicht noch einige Daten von dir übernehmen. Bitte nicht erschrecken,
                    wenn schon alles richtig ausgefüllt ist ;)</small>
                </p>
                <p>
                    <strong>Du bist noch nicht als Hölfer eingeteilt.</strong>
                    Öffne einen
                    <a class="btn btn-default"
                        href="{{path('event_index')}}">
                        <span class="glyphicon glyphicon-calendar"></span>
                            Event
                    </a>, um dich dort als Hölfer einzutragen.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock fos_user_content %}
