{% extends 'base.html.twig' %}

{% block title %}
    Clanx Hölfer
{% endblock %}
{% block description %}
    Startseite Clanx Hölfer Datenbank
{% endblock %}
{% block stylesheets %}
<!-- no custom styles at the moment -->
{% endblock %}

{% block body %}

<div class="container-fluid">
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h2>
                Willkommen auf der Clanx Hölfer Datenbank!
            </h2>
<hr />
            <p>
                Zum ersten mal hier? Registriere dich!
            </p>
            <p>
                <!-- find the route's name in FOSUserBundle/Resources/config/routing/registration.xml-->
                <a class="btn btn-primary btn-large"
                    href="{{ path('fos_user_registration_register')}} "
                    data-toggle="tooltip"
                    title="Klicke hier um dich auf der Webseite zu registrieren.">
                        <span class="fa fa-pencil"></span>
                    Registrieren.
                </a>
                <a href="{{ path('default_help_registration') }}">
                    Wie geht das?
                </a>
            </p>
<hr />
            <p>
                Du bist schon registriert? Melde dich jetzt an.
            </p>
            <p>
                <!-- find the route's name in FOSUserBundle/Resources/config/routing/security.xml-->
                <a class="btn btn-primary btn-large"
                    href="{{ path('fos_user_security_login')}} "
                    data-toggle="tooltip"
                    title="Klicke hier um dich mit deinem Login anzumelden.">
                    <span class="fa fa-user"></span>
                    Anmelden
                </a>
            </p>
        </div>
    </div>
</div>
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted">Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</p>
    </div>
</footer>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock %}
