{% extends 'base_nav.html.twig' %}

{% block title %}
    Benutzerliste
{% endblock %}

{% block stylesheets %}
    <!--
    <link rel="stylesheet" href="??" integrity="??" crossorigin="??">
    -->
{% endblock %}

{% block nav_links %}
    <li><a href="{{ path('user_new') }}">Neuer Benutzer erstellen</a></li>
{% endblock %}

{% block workspace %}
    <div class="row">
        <div class="col-md-12">
            <h1>User list</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Forename</th>
                        <th>Surname</th>
                        <th>Mail</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id='userbody'>
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}

{# JAVASCRIPT FILES ARE IN /web/js #}
{% block javascripts %}
<!-- define global var for dirty hacks. (later use FOSJsRoutingBundle)
     (we can not use "path('route') within a js-File" at the moment)-->
     <script>
        var ajaxRoutes = {
            "user_getVerified": "{{ path('user_getVerified') }}",
            "user_show": "{{ path('user_show',{'id':'0'}) }}" // the id will be added later. See userIndex.js
            //,'key2':'value2'
            };
    </script>

   <!-- finally your own scripts-->
   <script src="{{ asset('js/userIndex.js') }}" ></script>

{% endblock %}
