h1{
    color: lime;
}
.hot{
    background: #f9b82b;
}

.accordion-toggle-link > a {
  display: block;
  position: relative;
}
.accordion-toggle-link > a:after {
  content: "\f078"; /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
}
.accordion-toggle-link > a[aria-expanded="true"]:after {
  content: "\f077"; /* fa-chevron-up */
}

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts";

@import '~bootstrap-sass/assets/stylesheets/bootstrap';
