{% extends 'base_nav.html.twig' %}

{% block title %} Event bearbeiten {% endblock %}

{% block workspace %}
<div class="row">
    <div class="col-md-4">
        {{ form_start(edit_form) }}
            {{form_widget(edit_form) }}
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Speichern" />
                <a class="btn btn-default" href="{{ path('event_index') }}">Zurück zur Übersicht</a>
            </div>
            {{ form_end(edit_form) }}
    </div>
</div>
{% endblock %}
