<!-- this is a nested template. See "event/show.html.twig" for context -->

<div class="panel panel-default">
    <div class="panel-heading">
        Anmelden
    </div>
    <div class="panel-body">
        <p>
            Hier steht alles für die Anmeldung.
        </p>
    </div>
</div> <!--panel-->
