<!-- this is a nested template. See "event/show.html.twig" for context -->

<div class="panel panel-default">
    <div class="panel-heading">
        Oh, Hi!
    </div>
    <div class="panel-body">
        <p>
            Du kannst dich nicht für diesen Event anmelden.
        </p>
    </div>
</div> <!--panel-->
