{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <!-- this renders the menu, aka navigation -->
    {{ render(controller('AppBundle\\Controller\\NavBarController::indexAction')) }}

    {% include 'base_flash.html.twig' %}

    <!-- here goes the content -->
    {% block workspace %}

    {% endblock %}
</div>
{% endblock %}
