{% extends 'base_nav.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block workspace %}
    <div class="row">
        <div class="col-md-12">
                <h2>Home</h2>
        </div>
    </div> <!-- row for jumbotron -->
    <div class="row">
        {% if ShowAdminRegistrationSwitch %}
            <div class="col-md-6">
                {% include "dashboard/panel_user_registration.html.twig" %}
            </div>
        {% endif %}
        {% if ShowAssociationMembershipRequest %}
            <div class="col-md-6">
                {% include "dashboard/panel_association_membership_request.html.twig" %}
            </div>
        {% endif %}
        {% if ShowProfileUpdate %}
            <div class="col-md-6">
                {% include "dashboard/panel_update_profile.html.twig" %}
            </div>
        {% endif %}
        <div class="col-md-6">
            {% include "dashboard/panel_application_note.html.twig" %}
        </div>
        <div class="col-md-6">
            {% include "dashboard/panel_report_bug.html.twig" %}
        </div>
        <div class="col-md-6">
            {% include "dashboard/panel_help_wanted.html.twig" %}
        </div>
    </div><!-- row for panels -->
{% endblock %}
