<div class="panel panel-danger">
    <div class="panel-heading">
        <h3>
            Benutzer Registrierung
        </h3>
    </div>
    <div class="panel-body">
        <p> {{AdminRegistrationInfoText}}
        </p>
        <p>
            {% set btn_id = 'btn_toggle_registration_lock' %}
            <a id="{{btn_id}}"
                onclick="Clanx.App.Link.lockAndFollow(this);"
                href="{{ path('toggle_registration_lock')}}"
                class="btn btn-default"
                data-toggle="tooltip"
                title="Hier klicken zum Umschalten.">
                <span class="fa {{AdminRegistrationButtonIcon}}"></span>
                Umschalten
            </a>
        </p>
    </div>
</div>
