{% extends 'base_nav.html.twig' %}

{% block title %}
    Dashboard
{% endblock %}

{% block workspace %}
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                {% if ShowProfileUpdate %}
                <h2>Aktualisiere dein Profil!</h2>
                <p>Unsere Auswertung hat gezeigt, dass Du Dein Profil noch nicht
                    vollständig ausgefüllt hast. Uns fehlt noch:<br>
                    <mark>{{ MissingProfilData }}</mark></br>
                    Klick dich doch schnell rüber und füll das schnell aus. Wir
                    brauchen diese Daten um Dich über Deine Arbeitseinsätze zu informieren.
                    (Wir geben Deine Daten niemandem weiter, und wir senden Dir
                    ausschliesslich Clanxwerbung.)
                </p>
                <p><a class="btn btn-primary"
                    href="{{ path('fos_user_profile_edit') }}">
                        Zum Profil
                    </a>
                </p>
                {% endif %}

                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <h2>Ein Link für Sevi</h2>
                    <p>
                        <a class="btn btn-primary" href="{{ path('sevi_index') }}">Hier gehts zur Action...</a>
                    </p>
                    {% if username=='chriglburri' %}
                      <h2>Cheatsheets</h2>
                      <p>
                        <ul><li>
                          <a class="btn btn-danger" href="http://phpcheatsheets.com/">Php Cheatsheets</a>
                        </li><li>
                          <a class="btn btn-danger" href="https://www.cheatography.com/davechild/cheat-sheets/php/">Php Cheatsheets</a>
                        </li></ul>
                      </p>
                    {% endif %}
                    <h2>User file importieren</h2>
                    <p>
                        <a class="btn btn-danger" href="{{ path('admin_upload_data') }}">File upload</a>
                    </p>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
