{% extends 'base_nav.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block workspace %}
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>Home</h2>
                <ul>
                    <li>
                        Benutze die Menuzeile ganz oben um die einzelnen Arbeitsbereiche
                        aufzurufen.
                    </li>
                    <li>
                        Der Link <strong>"Home"</strong> führt dich auf diese Seite. <br/>
                        Der Link <strong>"Events"</strong> öffnet dir eine Liste aller anstehenden
                        Events.
                    </li>
                    <li>
                        Wenn wir einen Event wichtig finden, setzen wir ihn in die
                        Menuzeile und <span class="hot">markieren</span> ihn. Du kannst den Event von dort,
                        oder über die Liste der anstehenden Events aufrufen.
                    </li>
                    <li>
                        Der Link <strong>"Info"</strong> zeigt Daten über die
                        bei der Programmierung verwendeteten Produkte,
                        Lizenzen und Versionen.
                    </li>
                    <li>
                        Der Link mit deinem Benutzernamen ganz rechts aussen öffnet
                        ein Menu über das du dein Profil bearbeiten und dich Abmelden
                        kannst. (Melde dich immer ab, wenn du dich von einem öffentlichen
                        Computer auf dieser Webseite anmeldest.)
                    </li>
                </ul>
                {% if ShowProfileUpdate %}
                    <h2>Aktualisiere dein Profil!</h2>
                    <p> Wir haben festgestellt, dass du dein Profil noch nicht
                        vollständig ausgefüllt hast.
                    </p>
                    <p> Nimm dir doch einen Moment Zeit und fülle noch diese
                        Felder aus:
                    </p>
                    <p>
                        <mark>{{ MissingProfilData }}</mark>
                    </p>
                    <p><a class="btn btn-primary"
                        href="{{ path('fos_user_profile_edit') }}">
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="glyphicon glyphicon-pencil"></span>
                            Profil bearbeiten
                        </a>
                    </p>
                    <p>
                        <a class="btn btn-default"
                            href="{{path('info_privacy_policy')}}"
                            target="_blank">
                            <span class="glyphicon glyphicon-lock"></span>
                            Datenschutzerklärung
                        </a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
