<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Verwendungshinweise:</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li>
                Benutze die Menuzeile ganz oben um die einzelnen Arbeitsbereiche
                aufzurufen.
            </li>
            <li>
                Der Link <strong>"Home"</strong> führt dich auf diese Seite. <br/>
                Der Link <strong>"Events"</strong> öffnet dir eine Liste aller anstehenden
                Events.
            </li>
            <li>
                Wenn wir einen Event wichtig finden, setzen wir ihn in die
                Menuzeile und <span class="hot">markieren</span> ihn. Du kannst den Event von dort,
                oder über die Liste der anstehenden Events aufrufen.
            </li>
            <li>
                Der Link <strong>"Info"</strong> zeigt Daten über die
                bei der Programmierung verwendeteten Produkte,
                Lizenzen und Versionen.
            </li>
            <li>
                Der Link mit deinem Benutzernamen ganz rechts aussen öffnet
                ein Menu über das du dein Profil bearbeiten und dich Abmelden
                kannst. (Melde dich immer ab, wenn du dich von einem öffentlichen
                Computer auf dieser Webseite anmeldest.)
            </li>
            <li>
                Auf der ganzen Webseite findest du immer wieder
                <a class="btn btn-default btn-xs"
                    data-toggle="tooltip"
                    title="Das ist ein Tooltip. Er erklärt was passiert,
                    wenn du den Button klickst. In diesem Fall: nichts.">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    Buttons
                </a> welche Funktionen auslösen.
                Einige haben sogenannte Tooltips. Fahre mit der Maus
                ohne zu klicken über den Button um den Tooltip anzuzeigen.
                Wenn du diese Seite auf einem Smartphone anschaust, dann
                lege den Finger ohne ihn zu bewegen länger als 1 Sekunde
                auf den Button, um den Tooltip anzuzeigen. (Machmal
                erscheint dann auch ein Kontextmenu. Tippe ausserhalb
                des Menus um dieses wieder zu schliessen und den Tooltip
                zu lesen.)
            </li>
        </ul>
    </div>
</div> <!-- panel Verwendungshinweis -->
