<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            Help wanted!
        </h3>
    </div>
    <div class="panel-body">
        <p>
            Für die Weiterentwicklung dieser DB suchen wir noch
            versierte <strong>ehrenamtliche</strong> Webentwickler.
        </p>
        <p>
            <ul>
                <li>Du kennst dich aus mit PHP, MYSQL, Git und dem ganzen Zeugs.</li>
                <li>Du bist selbständig und pflichtbewusst.</li>
                <li>Du bist bereit in deiner Freizeit für dieses Projekt zu arbeiten,
                ohne dafür entlöhnt zu werden.</li>
            </ul>
            <p>
                Dann melde dich doch bei den Entwicklern.
                <a href="{{ path('info_mail_developer')}}"
                    class="btn btn-default"
                    data-toggle="tooltip"
                    title="Email an die Entwickler senden.">
                    <span class="glyphicon glyphicon-envelope"></span>
                    Mail an die Entwickler
                </a>
            </p>
        </p>
    </div>
</div>
