<div class="panel panel-success">
    <div class="panel-heading">
        <h3>
            Vereinsmitglied werden!
        </h3>
    </div>
    <div class="panel-body">
        <p>
            Du findest das Clanx eine tolle Sache und möchtest mehr
            machen als nur einmal im Jahr ein paar Tage helfen?
        </p>
        <p>
            Werde Mitglied im Verein Burg Clanx Festival!
        </p>
        <p>
            <ul>
                <li>Vorkaufsrecht auf Clanx Tickets.</li>
                <li>Tolle Veranstaltungen und Ausflüge "ausserhalb des Festivalgeländes".</li>
                <li>Das Festival langfristig weiterentwickeln.</li>
            </ul>
        </p>
        <p>
            <a href="{{ path('send_membership_request')}}"
                class="btn btn-default"
                data-toggle="tooltip"
                title="Sende deine Anmeldung hier per Email ab.">
                <span class="fa fa-envelope-o"></span>
                Anmeldung senden...
            </a>
        </p>
        <p>
            Du bist schon Mitglied des Vereins, aber hier in der DB noch nicht so eingetragen?
            Auch dann hilft ein kleines EMail. Einfach oben klicken. <span class="fa fa-smile-o"></span>
        </p>
    </div>
</div>
