<ul class="dropdown-menu">
  <li><a href="{{ path('fos_user_profile_show') }}">
      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
      Profil anzeigen
  </a></li>
    <li><a href="{{ path('fos_user_change_password') }}">
        <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
        Password ändern
    </a></li>
  <li role="separator" class="divider"></li>
  <li><a href="{{ path('fos_user_security_logout') }}">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      Abmelden</a></li>
</ul>
