<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"
  role="button" aria-haspopup="true" aria-expanded="false">
    <span class="fa fa-user" aria-hidden="true"></span>
     {{ app.user.username }}
    <span class="caret"></span>
  </a>

  <ul class="dropdown-menu">
    <li><a href="{{ path('fos_user_profile_edit') }}">
        <span class="fa fa-pencil" aria-hidden="true"></span>
        Profil bearbeiten
    </a></li>
      <li><a href="{{ path('fos_user_change_password') }}">
          <span class="fa fa-key" aria-hidden="true"></span>
          Password ändern
      </a></li>
    <li role="separator" class="divider"></li>
    <li><a href="{{ path('fos_user_security_logout') }}">
        <span class="fa fa-sign-out" aria-hidden="true"></span>
        Abmelden</a></li>
  </ul>

</li>
