{# Registration page#}

{% extends 'base.html.twig' %}
{% block title %} Neuer Benutzer registrieren {% endblock %}

{# CSS Files are in /web/css #}
{# bootstrap.min.css is included by default (see base.html.twig) #}
{# global.css is included by default (see base.html.twig) #}
{% block stylesheets %}
    <link href="{{ asset('css/formValidate.css') }}" rel="stylesheet" type="text/css"/>
    <!--
    <link rel="stylesheet" href="??" integrity="??" crossorigin="??">
    -->
{% endblock %}

{# The show starts here! #}
{% block body %}
    <h1>Registriere dich als neuen Benutzer</h1>
    <div>Wenn du am Clanx Festival als Hölfer arbeiten möchtest, benötigen
        wir verschiedene Angaben von dir. Die Postadresse brauchen wir, falls
        wir dir mal etwas zuschicken müssen. Deine Emailadresse ist gleichzeitig
        dein Benutzerlogin und mit Emails informieren wir dich über deine
        Einsatzzeiten. Es wäre auch nett wenn wir deine Telofonnummer haben,
        falls wir dich mal kurzfristig kontaktieren müssen. Wenn wir deinen
        Beruf wissen, können wir dich vielleicht mit Spezialaufgaben betrauen.
        Dein Alter müssen wir wissen, weil es verschiedene Aufgaben am Clanx
        gibt, für die man 18 Jahre alt sein muss.
    </div>
    <div>
        Wir werden deine Daten nicht an dritte weitergeben, und dein Passwort
        wird bei uns verschlüsselt gespeichert.
    </div>
    <form id="regForm" action="{{ path('registration_index')}}" method="POST">
        <table>
            <tbody>
                <tr>
                    <th>Geschlecht</th>
                    <td><select name="sex">
                        <option value="F">Frau</option>
                        <option value="M">Mann</option>
                    </select></td>
                </tr>
                <tr>
                    <th>Vorname, Nachname</th>
                    <td><input name="forename"/><br/><input name="surname"/>
                </tr>
                <tr>
                    <th>Strasse &amp; Hausnummer</th>
                    <td><input name = "street" /></td>
                </tr>
                <tr>
                    <th>PLZ, Ort</th>
                    <td><input name="zip" /><br/><input name="city" /></td>
                </tr>
                <tr>
                    <th>Land</th>
                    <td> <select name="country">
                            <option value="CH">Schweiz</option>
                            <option value="DE">Deutschland</option>
                            <option value="AT">Österreich</option>
                    </select> </td>
                </tr>
                <tr>
                    <th>Beruf / Fachgebiet</th>
                    <td><input name = "occupation" /></td>
                </tr>
                <tr>
                    <th>Geburtsdatum</th>
                    <td><input type="date" name="dateOfBirth"/></td>
                </tr>
                <tr>
                    <th>Telefon</th>
                    <td><input name="phone" /></td>
                </tr>
                <tr>
                    <th>Email Adresse</th>
                    <td><input name='mail'/>
                </tr>
                <tr>
                    <th>Passwort</th>
                    <td><input name="password" type="password" />
                </tr>
            </tbody>
        </table>
        <input type="submit" value="Erstellen" />
    </form>
{% endblock %}

{# JAVASCRIPT FILES ARE IN /web/js #}
{% block javascripts %}
 <!-- define global var for dirty hacks. (later use FOSJsRoutingBundle)
      (we can not use "path('route') within a js-File" at the moment)-->
      <script>
         var ajaxRoutes = {
             "validateMail": "{{ path('registation_validateMail') }}"
             //,'key2':'value2'
             };
     </script>

    <!-- put jquery on the top -->
    <script
      src="https://code.jquery.com/jquery-2.2.2.min.js"
      integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="
      crossorigin="anonymous">
    </script>
    <!-- next include jquery plugins -->
    <script src="http://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>
    <!-- finally your own scripts-->
    <script src="{{ asset('js/registration.js') }}" ></script>

{% endblock %}
