<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">Verfügbare Hölfer</div>
      <div class="panel-body">
        <ul class="list-group source">
          {{#each users}}
          <li class="list-group-item">{{forename}} {{surname}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>