<div class="container">
  <div class="clx-available-users">
    
  </div>
</div>

<div class="clx-shift-list">

  <div class="clx-shift-item">
    <div class="row">
      <div class="col-md-12">
        <h3>Montag 1.4.2016</h3>
      </div>
    </div>
    <div class="row">
      <div class ="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Frühschicht 06:00 - 12:00</div>
          <div class="panel-body">
            <ul class="list-group target" data-id="">
              <li class="placeholder">Hölfer hier hin ziehen...</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Spätschicht 12:00 - 18:00</div>
          <div class="panel-body">
            <ul class="list-group target" data-id="">
            </ul>
          </div>
        </div>
      </div><div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Spätschicht 12:00 - 18:00</div>
        <div class="panel-body">
          <ul class="list-group target" data-id="">
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Spätschicht 12:00 - 18:00</div>
        <div class="panel-body">
          <ul class="list-group target" data-id="">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="clx-shift-item">
  <div class="row">
    <div class="col-md-12">
      <h3>Dienstag 2.4.2016</h3>
    </div>
  </div>
  <div class="row">
    <div class ="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Frühschicht 06:00 - 12:00</div>
        <div class="panel-body">
          <ul class="list-group target" data-id="">
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Spätschicht 12:00 - 18:00</div>
        <div class="panel-body">
          <ul class="list-group target" data-id="">
          </ul>
        </div>
      </div>
    </div><div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Spätschicht 12:00 - 18:00</div>
      <div class="panel-body">
        <ul class="list-group target" data-id="">
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">Spätschicht 12:00 - 18:00</div>
    <div class="panel-body">
      <ul class="list-group target" data-id="">
      </ul>
    </div>
  </div>
</div>
</div>
</div>