<div class="row">

    <div class="col-md-4">
        <div class="clx-available-users">

        </div>
    </div>
    
    <div class="col-md-8">
        <div class="clx-shift-list">
            <div class="clx-shift-item">
                <div class="panel panel-default">
                    <div class="panel-heading">Frühschicht 06:00 - 12:00</div>
                    <div class="panel-body">
                        <ul class="list-group target" data-id="">
                            <li class="placeholder">Hölfer hier hin ziehen...</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
